<div class="container">
  <div class="form-horizontal">
    <div class="form-group">
      <label for="storyType" class="col-sm-4 control-label">Story Type</label>
      <div class="col-sm-8">
        <select class="form-control" id="storyType" ng-model="type">
          <option value="user" selected>User</option>
          <option value="non-user">Non-User</option>
          <option value="spike">Spike</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="storyRole" class="col-sm-4 control-label">As A</label>
      <div class="col-sm-8">
        <input class="form-control col-sm-8" id="storyRole" type="text" placeholder="customer, developer, tester... " ng-model="role">
      </div>
    </div>
    <div class="form-group">
      <label for="storyAction" class="col-sm-4 control-label">I want to</label>
      <div class="col-sm-8">
        <textarea msd-elastic class="form-control" rows="2" id="storyAction" placeholder="do some specific activity..." ng-model="action"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="storyBenefit" class="col-sm-4 control-label">so that</label>
      <div class="col-sm-8">
        <textarea msd-elastic class="form-control" rows="2" id="storyBenefit" placeholder="I will find some value in using this product..." ng-model="benefit"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="storyAcceptance" class="col-sm-4 control-label">I will know I am done when</label>
      <div class="col-sm-8">
        <textarea msd-elastic class="form-control" rows="2" id="storyAcceptance" placeholder="When I can accomplish my task without error..." ng-model="acceptance"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="storyTitle" class="col-sm-4 control-label">Title</label>
      <div class="col-sm-8">
        <input class="form-control" id="storyTitle" type="text" placeholder="User access account online..." ng-model="title">
      </div>
    </div>
    <button class="btn btn-success pull-right" ng-click="createNewUserStory()">Create User Story</button>
  </div>
</div>